@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}
body{
    background-color: rgb(48,48,48);
    color: white;
}
h1{
    margin-top: 100px;
    text-align: center;
    font-size: 3em;
    text-shadow: 3px 3px 5px black;
    color: white;
}