@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
body{
    height: 100vh;
    width: 100vw;


    background-image: url('../imagens/wallpaper\ fundo.jpg_large');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    position: relative;
    height: 100vh;
}

#tel{
    position: absolute;
    top: 100%;
    left: 50%;
    translate: -50% -50%;

    height: 630px;
    width: 310px;
    background-image: url('../imagens/frame-iphone.png');
}
iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 266px;
    height: 470px;
    border: radius 10px;
}
#redes{
    text-align: center;
}
section#redes img{
    text-indent: 70px;
    width: 50px;
    height: 50px;
    margin: 20px;
    border-radius: 50px;
    box-shadow: 5px 5px 20px black;
    box-sizing: border-box;
}
section#redes img:hover{
    transition-duration: 0.2s;
    transform: translate(2px, -2px);
    border: 3px solid white;
    box-shadow: 5px 5px 10px black;
    width: 50px;
    height: 50px;
    margin: 20px;
    border-radius: 50%;
}