@charset "UTF-8";
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    box-sizing: border-box;
}
body{
    background: rgb(48, 48,48) url('../imagens/back-pc.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 100vh;
    width: 100vw;
}
main{
    backdrop-filter: blur(20px);
    width: 50vw;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 100px;
}
h1{
    font-size: 2em;
    text-align: center;
    text-shadow: 3px 3px 5px black;
}
img{
    display: block;
    margin: auto;
}

#celular{display: block;}
#pc{display: none;}
#impressora{display: none;}
#tablet{display: none;}
#tv{display: none;}
