::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(48, 48,48);
    color: white;
}
header{
    background-image: linear-gradient(to bottom, rgb(21, 21, 21), rgb(30, 47, 71));
    height: 150px;
}
nav{
    text-align: center;
}
a{
    margin-left: 100px;
    padding: 10px;
    color: darkgray;
    text-decoration: none;
}
main{
    background-image: url('wallpaper\ fundo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    padding: 200px;
    text-align: start;
}
section{
    backdrop-filter: blur(20px);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 20px black;
    width: 400px;
    height: 400px;
    margin: auto;
    margin-bottom: 200px;
}
input{
    border-radius: 2px;
    border:1px solid black;
    height: 20px;
}
section h2{
    font-size: 2em;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}
section p{
    padding-top: 20px;
    margin-left: 120px;
    text-align: start;
}
.geral{
    margin-top: 150px;
}
.geral p{
    font-style: italic;
    text-align: justify;
    padding: 10px;
    text-indent: 30px;
}
footer{
    margin-top: 100px;
    padding: 20px;
    text-align:center;
}